/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*STYLES*/

$background: #1C1A1A;
$red: #A2372A;
$salmon: #BD613C;
$seablue: #326883;
$gold: #A58C40;
$lora: 'Lora', serif;
$bitter: 'Bitter', serif;
$oxygen: 'Oxygen', sans-serif;




body {
    font-size: 24px;
    color: #7f7f7f;
    background: white;
    background-color: $background;
}

div.wrapper-top{

}

header{
	height: 75px;
	background-color: transparent;
	position: fixed;
	width: 100%;
	top: 0;
	transition-duration:1s;
	.logo{
		height: 50px;
		width: 50px;
		position: absolute;
		left: 20px;
		top: 8px;
	}
	.logo-big{
		height: 65px;
		width: 65px;
		top: 5px;
	}
}
.black{
	background-color: rgba(0,0,0,0.3);
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}



/*navigation-trigger*/

.nav-trigger{
  position: fixed;
  right: 20px;
  top: 28px;
  z-index: 999;
  /* margin-top: -70px; */
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: -moz-transform 300ms ease;
  -o-transition: -o-transform 300ms ease;
  transition: transform 300ms ease;
}

.nav-trigger.open .nav-trigger-inner {
  -webkit-transform: translate(-2px, -2px);
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
}

.nav-trigger.open .line:first-child {
  -webkit-transform: rotate(45deg) translate(11px, 12px);
  -moz-transform: rotate(45deg) translate(11px, 12px);
  -ms-transform: rotate(45deg) translate(11px, 12px);
  -o-transform: rotate(45deg) translate(11px, 12px);
  transform: rotate(45deg) translate(11px, 12px);
  -webkit-transform-origin: 50% 8px;
  -moz-transform-origin: 50% 8px;
  -ms-transform-origin: 50% 8px;
  -o-transform-origin: 50% 8px;
  transform-origin: 50% 8px;
}

.nav-trigger.open .line {
  width: 50px;
  height: 8px;
  margin-bottom: 8px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background-color: $background;

}
.nav-trigger.open:hover{
	.line,
	.line:first-child,
	.line:last-child{
	background-color: white;
	}
}

.nav-trigger.open .line:last-child {
	  -webkit-transform: rotate(-45deg) translate(10px, -10px);
	  -moz-transform: rotate(-45deg) translate(10px, -10px);
	  -ms-transform: rotate(-45deg) translate(10px, -10px);
	  -o-transform: rotate(-45deg) translate(10px, -10px);
	  transform: rotate(-45deg) translate(10px, -10px);
	  -webkit-transform-origin: 50% 0;
	  -moz-transform-origin: 50% 0;
	  -ms-transform-origin: 50% 0;
	  -o-transform-origin: 50% 0;
	  transform-origin: 50% 0;
}

div.line{
	  width: 33px;
	  height: 3px;
	  margin-bottom: 8px;
	  background: white;
	  -webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
	  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
	  -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
	  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
	  transition-timing-function: cubic-bezier(1, 0, 0, 1);
	  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
	  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  -ms-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  -webkit-transform-origin: 50% 50%;
	  -moz-transform-origin: 50% 50%;
	  -ms-transform-origin: 50% 50%;
	  -o-transform-origin: 50% 50%;
	  transform-origin: 50% 50%;
}
.line:first-child{
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.line:last-child {
  -webkit-transform-origin: 50px 8px;
  -moz-transform-origin: 50px 8px;
  -ms-transform-origin: 50px 8px;
  -o-transform-origin: 50px 8px;
  transform-origin: 50px 8px;
}
div.nav-trigger:hover{
	.line,
	.line:first-child,
	.line:last-child{
		background-color: $red;
	}
}
/*navigation*/

.nav-full{
	height: 100%;
	width: 100%;
	display: none;
	background-color: rgba(165,140,64,0.6);
	position: fixed;
	top: 0;
	text-align: center;
	overflow: scroll;

	.flex-nav{
		  display: inline-flex;
		  flex-direction: row;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-items: center;
		  width: 66%;
		  margin-bottom: 1em;
		  overflow: scroll;
		  margin-top: 3em;
		  .item-nav{
		  	  height: 200px;
			  width: 400px;
			  margin: 0.3em;
			  vertical-align: middle;
			  background-color: #211F1C;
			  a{
			  	line-height: 200px;
			  	font-size: 2.6em;
			  	color: white;
			  	font-family: $oxygen;
			  	text-decoration: none;
			  }
		  }
	}
}

.title-text{
	text-align: center;
	color: white;
	font-family: 'Droid Serif', serif;
	margin-top: 4em;
	h1{
		font-size: 3.0em;
		margin-bottom: 0.2em;
	}
	h3{
		margin-bottom: 0em;
		font-size: 1.7em;
	}
	h5{
		line-height: 1.2em;
		color: $gold;
		margin-top: 0.7em;
		margin-bottom: 0.3em;
		text-shadow: 0.2px 0.5px 3px black;
	}
	button{
		background-color: transparent;
		color: white;
		padding: 1em;
		margin-top: 1em;
		border: 2px solid white;
		transition-duration:0.5s;
	}
	button:hover{
		background-color: white;
		color: $background;
		transition-duration:0.5s;

	}
	div.fa-chevron-down{
		display: block;
		margin-top: 2em;
		font-size: 1.3em;
		color: white;
		width: 10px;
		margin: 2em auto;
		transition-duration:0.3s;
	}
	div.fa-chevron-down:hover{
		color: $gold;
		cursor: pointer;
		transition-duration:0.3s;
	}
}

/*recent work and posts*/

div.recent{
	height: 1000px;
	background: lightgray;
	width: 100%;

}

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{

	.title-text{
		h1{
			font-size: 2.3em;
			margin-bottom: .8em;
		}
	}

	.nav-full{
		overflow-y: hidden;
		.flex-nav{
			width: 100%;
		
			.item-nav{
				height: 150px;

				a{
					line-height: 150px;
				}
			}
		}
	}

 }



